<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="myApp" ng-controller="demoCtrl">
	<!--
		ng-repeat="item in person"

			item代表每一次循环的值

		ng-repeat="(key,value) in person "

			key代表键

			value代表值

		$index 每次循环的索引

		$first 返回当前项是否是第一项 布尔类型

		$last 返回当前项是否是最后一项 布尔类型

		$middle 返回当前项是否是中间项

			除了最后一项和第一项 其他的都是中间项
		
		$even 返回当前项是否是偶数

		$odd 返回当前项是否是奇数

		angular默认在循环的过程中 不允许有重复的值

			ng-repeat="item in person track by $index"
		
	-->

	<!--
		<ul>
			<li ng-repeat="item in person">{{item}}</li>
		</ul>
	-->
	<!--
		<ul>
			<li ng-repeat="(key,value) in person ">{{key}}  {{value}}</li>
		</ul>
	-->
	<!--
		<ul>
			<li ng-repeat="item in arr">{{item}}</li>
		</ul>
	-->
	<!--
		<div ng-repeat="item in ball "> {{ item.name }} </div>
	-->

	<ul>
		<li ng-repeat="item in arr track by $index" class="{{ $first ? 'first' : '' }} {{ $last ? 'last' : '' }}">{{ $index+1 }} {{item}} {{ $first }} {{$last}} {{ $middle }}</li>
	</ul>

	<ul>
		<li ng-repeat="item in backer">
			{{item.name}} 
			<span ng-repeat="inner in item.job">{{inner}}</span>
		</li>
	</ul>
	<script src="node_modules/angular/angular.js"></script>
	<script>
		angular.module('myApp',[])

			.controller('demoCtrl',['$scope',function($scope){

				$scope.person = {

					name:'zhangsan',
					age:20,
					job:'coder',

				}

				$scope.arr = ['a','a','c'];

				$scope.ball = [
					{
						name:'足球'
					},
					{
						name:'篮球'
					},
					{
						name:'排球'
					}
				]

				$scope.backer = [
					{
						name:'足球',
						job:['1','2','32']
					},
					{
						name:'篮球',
						job:['9','4','2']
					},
					{
						name:'排球',
						job:['4','8','1']
					}
				]

			}])

			/*for(var i=0;i<backer.length;i++){

				for(var j=0;j<backer[i].job.length;j++){

					backer[i].job[j]

				}

			}*/
	</script>
</body>
</html>