<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="myApp" ng-controller="demoCtrl">
	<!--
		ng-switch   匹配变量 控制元素显示隐藏

		ng-switch-when

	-->
	<div ng-init="tab = 1" ng-switch="tab">
		<button ng-click="tab=1">按钮1</button>
		<button ng-click="tab=2">按钮2</button>
		<button ng-click="tab=3">按钮3</button>

		<div ng-switch-when="1">按钮一对应的内容</div>
		<div ng-switch-when="2">按钮二对应的内容</div>
		<div ng-switch-when="3">按钮三对应的内容</div>
	</div>
	

	<script src="node_modules/angular/angular.js"></script>
	<script>
		angular.module('myApp',[])

			.controller('demoCtrl',['$scope',function($scope){

				

			}])

	</script>
</body>
</html>