<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app>
	<!--
		ng-click 给元素添加点击事件
			ng 是angular的简称

		ng-model 获取文本框的值

			ng-model="变量"

		ng-app 告诉angular你可以去运行了
	-->
	<input type="text" ng-model="val">
	<button ng-click=" val = (val-0) + 1 ">+1</button>
	<!-- 引包 -->
	<script src="node_modules/angular/angular.js"></script>
	<script>
		/*
			1.获取元素(省略)
			2.给按钮添加点击事件
			3.获取文本框的值 并且+1
			4.将值重新赋值给文本框

			在html中获取的值 都是字符串类型的

		 */
	</script>
</body>
</html>