<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<!--
	告诉angular用我自己创建的模块管理页面

		ng-app="模块的名字" 

	告诉angular我创建的控制器管理页面中的哪个区域

		ng-controller="控制器的名字"

	ng-app

		1.告诉angular你可以运行了
		2.告诉angular用哪个模块管理页面
		3.告诉angular你在页面控制的范围

			一个页面只能有一个ng-app

				// angular.bootstrap()

-->
<body ng-app="myApp">

	<div class="sideBar" ng-controller="demoCtrlA">
		
		{{ msg }}

		<button ng-click="clickFn()">点我</button>

		<input type="text" ng-model="val">

		<div> {{val}} </div>

	</div>
	


	<div class="main" ng-controller="demoCtrlB">
			
		{{ msg }}

	</div>
	
	<script src="node_modules/angular/angular.js"></script>
	<script>
		/*
			创建模块的语法:

				参数1:模块的名字 字符串类型
				
				参数2:当前模块依赖的其他的模块的名字 数组类型

				angular.module('参数1','参数2')

			控制器的创建语法:

				模块对象.controller('控制器的名字',function(){
					


				})



		 */
		
		var myApp = angular.module('myApp',[])

		myApp.controller('demoCtrlA',function($scope){

			// $scope 专门向页面中展示数据的 对象类型 只负责当前控制器 控制的区域
			$scope.msg = '我是控制器A赋的值';

			$scope.clickFn = function(){

				alert(11111)

			}

			$scope.val = '初始值';

		})

		myApp.controller('demoCtrlB',function($scope){

			$scope.msg = "我是控制器B赋的值";

		})
	</script>
</body>
</html>